
<form [formGroup]="employeeForm" (ngSubmit)="OnFormSubmitted(employeeForm.value)">
<input type="text" formControlName="Name" placeholder="Name">
<input type="number" formControlName="Age" placeholder="Age">
<input type="number" formControlName="Salary" placeholder="Salary">
  <input class="btn btn-primary" type="submit" [disabled]="employeeForm.valid" value="Submit">
</form>
<li *ngIf="employeeForm.valid">
Your New Employee is {{employeeForm.value.name}}, age:  {{employeeForm.value.age}} with salary  {{employeeForm.value.salary}} $ will be added to the system
</li>  <li class="list-group-item list-group-item-primary">
</li>
<img src="giphy.gif" alt="gif">

