<h1>Employee</h1>
<div class="position-relative">
  <div class="position-absolute top-0 start-0"></div>
<div class="bg-success p-2 text-white bg-opacity-75">
  <div class="bg-success p-2" style="--bs-bg-opacity: .5;">
<ul *ngFor="let employee of data|async" [routerLink]="'/employee-details/'+employee.personalNumber+'/'+ employee.name ">{{employee.personalNumber}} . {{employee.name}} ,mail :{{employee.mail}}
  <button type="button" class="btn btn-dark" (click)="remove(employee.personalNumber)">Remove Me  </button>
</ul>
  </div></div></div>
<div class="position-absolute bottom-0 end-0">
  <div class="card">
    <h5 class="card-header">My First APP</h5>
    <div class="card-body">
      <h5 class="card-title">2022</h5>
      <p class="card-text"></p>
      <a href="" class="https://github.com/Merrson1996">Go my github</a>
    </div>
  </div>
</div>

